<td>
    {%if day.daymeal %}
      {% if day.daymeal.course_set.all %}
          {% for course in day.daymeal.course_set.all %}
              <div class="checkbox">
              <a href="{% url 'dish-detail' course.dish.id %}">{{course.dish.name}}</a><br>
              <label>
                <input class="course-checkbox" {{ course.prepared|yesno:"checked,false" }} data-attribute="prepared" data-meal-id="{{course.meal.id}}" data-dish-id="{{course.dish.id}}" type="checkbox"> Made
              </label>
              <label>
                <input class="course-checkbox" {{ course.eaten|yesno:"checked,false" }} data-attribute="eaten" data-meal-id="{{course.meal.id}}" data-dish-id="{{course.dish.id}}" type="checkbox"> Eaten
              </label>
            </div>
          {% endfor %}
      {% endif %}
      {% if day.daymeal.tags.all %}
        {% for t in day.daymeal.tags.all %}
          <a href="{% url 'tag-detail' t.id %}"><button class="btn btn-default btn-xs" style="background-color:{{t.color}}; border:none">{{t.name}}</button></a>
        {% endfor %}
      {% endif %}
    {% else %}
    <div style="color:DarkGray">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
    </div>
    {% endif %}
</td>
