{% extends "themenu/layout.html" %}

{% block body %}

<div class="panel panel-primary">
  <div class="panel-heading text-center">
          <a href="{% url 'calendar' lastmondaydate %}" aria-label="Previous"  class="btn btn-default">
            <span aria-hidden="true">&laquo;</span>
          </a>
        <span>week of {{thisweekmonday}}</span>
          <a href="{% url 'calendar' nextmondaydate %}" aria-label="Next"  class="btn btn-default">
            <span aria-hidden="true">&raquo;</span>
          </a>
  </div>

  <!-- Table -->
  <div class="table-responsive">
  <table class="table">
  <tr>
    <th width=9%></th>
    <th width=13%>Monday</th>
    <th width=13%>Tuesday</th>
    <th width=13%>Wednesday</th>
    <th width=13%>Thursday</th>
    <th width=13%>Friday</th>
    <th width=13%>Saturday</th>
    <th width=13%>Sunday</th>
  </tr>


 {% for meal_type, meal_plan in weekplan.items %}
  <tr>
    <td>{{ meal_type.title }}</td>
      {% for day in meal_plan %}
        {% include "themenu/calendar_cell.html" %}
      {% endfor %}
  </tr>
  {% endfor %}

</table>
</div>

{% endblock %}
