{% extends "themenu/layout.html" %}

{% block body %}

<div class="calendar">
  <table class="table">
    <tr>
      <th><a href="{% url 'calendar' lastoffset %}" class="btn btn-primary btn-lg">< Week of {{lastweekmonday}}</a></th>
      <th><a href="" class="btn btn-default btn-lg active">Week of {{thisweekmonday}}</a></th>
      <th><a href="{% url 'calendar' nextoffset %}" class="btn btn-primary btn-lg">Week of {{nextweekmonday}} ></a></th>
    </tr>
  </table>
  <br>
  <table class="table-bordered">
  <tr>
    <th></th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>
  <tr>
    <td>Breakfast</td>
    {% for m in weekplan.breakfast %}
      {% include "themenu/calendar_cell.html" %}
    {% endfor %}
  </tr>
  <tr>
    <td>Lunch</td>
    {% for m in weekplan.lunch %}
      {% include "themenu/calendar_cell.html" %}
    {% endfor %}
  </tr>
  <tr>
    <td>Dinner</td>
    {% for m in weekplan.dinner %}
      {% include "themenu/calendar_cell.html" %}
    {% endfor %}
  </tr>
  <tr>
    <td>Dessert</td>
    {% for m in weekplan.dessert %}
      {% include "themenu/calendar_cell.html" %}
    {% endfor %}
  </tr>
  <tr>
    <td>Snacks</td>
    {% for snack in weekplan.snack %}
      {% include "themenu/calendar_cell.html" %}
    {% endfor %}
  </tr>
</table>
</div>

{% endblock %}
