<td>
    {%if day.daymeal %}
      {% if day.daymeal.dishes.all %}
          {% for d in day.daymeal.dishes.all %}
              <div class="checkbox">
              <a href="{% url 'dish-detail' d.id %}">{{d.name}}</a><br>
              <label>
                <input class="course-checkbox" data-attribute="prepared" data-meal-id="{{m.id}}" data-dish-id="{{d.id}}" type="checkbox"> Prepared
              </label>
              <label>
                <input class="course-checkbox" data-attribute="eaten" data-meal-id="{{m.id}}" data-dish-id="{{d.id}}" type="checkbox"> Eaten
              </label>
            </div>
          {% endfor %}
      {% endif %}
      {% if day.daymeal.tags.all %}
        {% for t in day.daymeal.tags.all %}
          <a href="" class="btn-xs btn-info">{{t.name}}</a>
        {% endfor %}
      {% endif %}
    {% else %}
      <a href="" class="btn-xs btn-success">Add meal</a>
    {% endif %}
</td>
