{% extends "themenu/layout.html" %}

{% block body %}

<div class="calendar">
  <table>
    <tr>
      <th><a href="">< Week of: {{lastweek}}</a></th>
      <th>Week of: {{thisweek}}</th>
      <th><a href="">Week of: {{nextweek}}></a></th>
    </tr>
  </table>
  <table>
  <tr>
    <th></th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>
  <tr>
    <td>Breakfast</td>
    {% for breakfast in weekplan.breakfast %}
      <td>
        {{breakfast.menu.name}}
        {% for dish in breakfast.menu.dishes %}
          <p>{{dish.name}}</p>
        {% endfor %}
      </td>
    {% endfor %}
  </tr>
  <tr>
    <td>Lunch</td>
    {% for lunch in weekplan.lunch %}
      <td>
        {{lunch.menu.name}}
        {% for dish in lunch.menu.dishes %}
          <p>{{dish.name}}</p>
        {% endfor %}
      </td>
    {% endfor %}
  </tr>
  <tr>
    <td>Dinner</td>
    {% for dinner in weekplan.dinner %}
      <td>
        {{dinner.menu.name}}
        {% for dish in dinner.menu.dishes %}
          <p>{{dish.name}}</p>
        {% endfor %}
      </td>
    {% endfor %}
  </tr>
  <tr>
    <td>Dessert</td>
    {% for dessert in weekplan.dessert %}
      <td>
        {{dessert.menu.name}}
        {% for dish in dessert.menu.dishes %}
          <p>{{dish.name}}</p>
        {% endfor %}
      </td>
    {% endfor %}
  </tr>
  <tr>
    <td>Snacks</td>
    {% for snack in weekplan.snacks %}
      <td>
        {{snack.menu.name}}
        {% for dish in snack.menu.dishes %}
          <p>{{dish.name}}</p>
        {% endfor %}
      </td>
    {% endfor %}
  </tr>
</table>
</div>

{% endblock %}
