{% extends "themenu/layout.html" %}

{% block body %}

<!-- <form action="" method="post">{% csrf_token %} -->
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

<!--   <div class="fieldWrapper">
    {{ form.name.errors }}
    {{ form.name.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.name }}
  </div>
  <div class="fieldWrapper">
    {{ form.notes.errors }}
    {{ form.notes.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.notes }}
  </div>
  <div class="fieldWrapper">
    {{ form.source.errors }}
    {{ form.source.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.source }}
  </div>
  <div class="fieldWrapper">
    {{ form.recipe.errors }}
    {{ form.recipe.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.recipe }}
  </div>
  <div class="fieldWrapper">
    {{ form.speed.errors }}
    {{ form.speed.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.speed }}
  </div>
  <div class="fieldWrapper">
    {{ form.ease.errors }}
    {{ form.ease.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.ease }}
  </div>
  <div class="fieldWrapper">
    {{ form.results.errors }}
    {{ form.results.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.results }}
  </div>

 <div class="fieldWrapper col-md-4" >
      Ingredients:
      <select id="id_ingredients" name="ingredients" data-model="ingredient" class="select-multiple form-control" multiple="multiple"></select>
  </div>
  <div class="fieldWrapper col-md-4">
      Tags:
      <select id="id_tags" data-model="tag" class="select-multiple form-control" multiple="multiple"></select>
  </div> -->

<!--
  <div class="fieldWrapper">
    {{ form.ingredients.errors }}
    {{ form.ingredients.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.ingredients }}
  </div>
  <div class="fieldWrapper">
    {{ form.tags.errors }}
    {{ form.tags.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.tags }}
  </div>
  <input type="submit" value="Submit" /> -->
</form>

{% endblock %}

