{% extends "themenu/layout.html" %}

{% block body %}

<form method="post">{% csrf_token %}
  <div class="fieldWrapper">
    {{ form.notes.errors }}
    {{ form.notes.label_tag }}
    {{ form.notes }}
  </div>
  <div class="fieldWrapper">
    {{ form.source.errors }}
    {{ form.source.label_tag }}
    {{ form.source }}
  </div>
  <div class="fieldWrapper">
    {{ form.recipe.errors }}
    {{ form.recipe.label_tag }}
    {{ form.recipe }}
  </div>
  <div class="fieldWrapper">
    {{ form.speed.errors }}
    {{ form.speed.label_tag }}
    {{ form.speed }}
  </div>
  <div class="fieldWrapper">
    {{ form.ease.errors }}
    {{ form.ease.label_tag }}
    {{ form.ease }}
  </div>
  <div class="fieldWrapper">
    {{ form.results.errors }}
    {{ form.results.label_tag }}
    {{ form.results }}
  </div>
  <div class="fieldWrapper">
    <div class="col-md-4">
      Ingredients:
      <select id="ingredient-select" data-model="ingredient" class="select-multiple form-control" multiple="multiple"></select>
    </div>
  </div>
  <div class="fieldWrapper">
    <div class="col-md-4">
      Tags:
      <select id="tag-select" data-model="tag" class="select-multiple form-control" multiple="multiple"></select>
    </div>

  </div>
  <input type="submit" value="Submit" />
</form>

{% endblock %}
