{% extends "themenu/layout.html" %}

{% block body %}

<div class="container">
  <h1>Name: {{object.name}}</h1>
  <p>Notes: {{object.notes}}</p>
  <p>Source: {{object.source}}</p>
  <p>Recipe: {{object.recipe}}</p>
  <p>Speed: {{object.speed}}</p>
  <p>Ease: {{object.ease}}</p>
  <p>Results: {{object.results}}</p>
  <p>Ingredients:<p>
    <ul>
      {% for i in object.ingredients.all %}
        <li>{{ i.name }} </li>
      {% endfor %}
    </ul>
  </p>
  <p>Tags:
    <ul>
    {% for t in object.tags.all %}
      <li>{{ t.name }}</li>
    {% endfor %}
    </ul>
  </p>
</div>

{% endblock %}
