<div class="grocery-item">
  <label>
      <div class="dropdown">
        <input class="purchase-checkbox" type="checkbox">
        Grocery List Item
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Dish in meal</a></li>
        <li><a href="#">Other dish in that other meal</a></li>
      </ul>
      </div>
    </input>
  </label>
</div>
