{% extends "themenu/layout.html" %}

{% block headtags %}
<title>Grocery List | NOMplan.life</title>
<meta property="og:title" content="Grocery List | NOMplan.life">
{% endblock %}

{% block body %}

<div class="container-responsive">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-success">
      <div class="panel-heading text-center">
        <span>Grocery List</span>
        <a href="{% url 'grocery-list' %}">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </a>
      </div>
      <a href="{% url 'random-grocery-create' %}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add New Random Grocery Item
      </a>
      <ul class="sortable list-group checked-list-box">
        {% for item in random_grocery_list %}
          {% include "themenu/random_grocery_item.html" %}
        {% endfor %}
      </ul>
      <ul class="sortable list-group checked-list-box">
        {% for ingredient_name, amounts_string, grocery_list, all_purchased, ids_string in ingredient_grocery_list %}
          {% include "themenu/grocery_list_item.html" %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</div>

{% endblock %}
