{% extends "themenu/layout.html" %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-success">
      <div class="panel-heading text-center">
        <span>Grocery List</span>
        <a href="#">
  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </a>
      </div>
      <div class="panel-body">
        {% for item in grocery_list %}
          {% include "themenu/grocery_list_item.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
