<div class="grocery-item">
  <label>
    <div class="dropdown">
      {% if all_purchased %}
      <s>
      {% endif %}
        <span><a href="#" style="cursor: pointer;"><input class="grocery-checkbox" data-grocery-id="{{item.id}}" data-grocery-type="random" type="checkbox" {{ grocery_list.0.purchased|yesno:"checked,false" }} /><em>{{ ingredient_name }} ({{grocery_list | length}} meal{{grocery_list | length | pluralize }})</em></a></span>
      {% if all_purchased %}
      </s>
      {% endif %}
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      {% for grocery in grocery_list %}
        <li>{{ grocery.course.dish.name }}: {{grocery.course.meal.meal_type.title}} {{grocery.course.meal.date|date:"l (d M)"}}</li>
      {% endfor %}
      </ul>
    </div>
  </label>
</div>
