{% extends "themenu/layout.html" %}

{% block body %}

<form action="" method="post">{% csrf_token %}
  <div class="fieldWrapper">
    {{ form.name.errors }}
    {{ form.name.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.name }}
  </div>


  <br><br>

  <div class="fieldWrapper">
    {{ form.tags.errors }}
    {{ form.tags.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.tags }}
  </div>
  <a href="{% url 'tag-create' %}" target="_blank"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create new Tag</a>
  <br>
  <!-- End select2 multiple fields -->
  <input type="submit" value="Submit" />

</form>

{% endblock %}

