<!doctype html>
{% load staticfiles %}
<head>
  <title>The Menu</title>
  <link rel="shortcut icon" href="{% static 'themenu/images/favicon.ico' %}" />
  <link href='http://fonts.googleapis.com/cs?famil=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="test/css" href="{% static 'themenu/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'themenu/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'themenu/css/style.css' %}"/>
</head>
<body>
  {% include "themenu/header.html" %}
  {% block body %}

  {% endblock %}
  <script type="text/javascript" src="{% static 'themenu/js/bootstrap.min.js' %}"></script>
</body>
