<!doctype html>
{% load staticfiles %}
<head>
  <title>The Menu</title>
  <link rel="shortcut icon" href="{% static 'themenu/images/favicon.ico' %}" />
  <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
  <link rel="stylesheet" type="test/css" href="{% static 'themenu/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'themenu/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'themenu/css/style.css' %}"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />


  <!-- For select2 forms -->
  {{ form.media.css }}
</head>
<body>
  {% include "themenu/header.html" %}
  {% block body %}

  {% endblock %}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <!-- django_select2 wanted this version of jquery -->
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript">
    window.onerror = function (msg) {
      $("body").attr("JSError", msg);
    }
  </script>
<!-- For select2 forms -->
{{ form.media.js }}
  <script type="text/javascript" src="{% static 'themenu/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'themenu/js/main.js' %}"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script> -->

</body>
