{% extends "themenu/layout.html" %}

{% block body %}

<div class="row">
  <div class='col-md-3'>
    <a href="{% url 'meal-delete' object.id %}" style="color:DarkGray">
    <button class="btn btn-default btn-xs" style="background-color:Grey; border:none">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Delete
    </button>
    </a>
  </div>
  <div class="col-md-9">
  </div>
</div>
<br>

<form action="" method="post">{% csrf_token %}
  <div class="fieldWrapper">
    {{ form.date.errors }}
    {{ form.date.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.date }}
  </div>
  <div class="fieldWrapper">
    {{ form.meal_type.errors }}
    {{ form.meal_type.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.meal_type }}
  </div>

  <!-- ManyToMany fields- Select2 multiple fields -->
  <div class="fieldWrapper">
    {{ form.dishes.errors }}
    {{ form.dishes.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.dishes }}
  </div>
  <a href="{% url 'dish-create' %}" target="_blank"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create new Dish</a>

  <br><br>

  <div class="fieldWrapper">
    {{ form.tags.errors }}
    {{ form.tags.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.tags }}
  </div>
  <a href="{% url 'tag-create' %}" target="_blank"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create new Tag</a>
  <br>
  <!-- End select2 multiple fields -->
  <input type="submit" value="Submit" />

</form>

{% endblock %}

