{% extends "themenu/layout.html" %}

{% block headtags %}
<title>{{object.meal_type.title}} on {{object.date}}| NOMplan.life</title>
<meta property="og:title" content="{{object.meal_type.title}} on {{object.date}}| NOMplan.life">
{% endblock %}


{% block body %}

<div class="container">
  <h1>{{object.meal_type.title}} on {{object.date}}</h1>

  <p>Dishes:
      {% for dish in object.dishes.all %}
        {{ dish.name }}
      {% endfor %}
  </p>
  <p>Tags:
    {% for t in object.tags.all %}
      {{ t.name }}
    {% endfor %}
  </p>
</div>

{% endblock %}
