{% extends "themenu/layout.html" %}

{% block body %}

<div class="container width=95%">
  <div class="row">
    <div class='col-md-9'>
        <h4>{{team.name}}<h4>
    </div>
  </div>
  <div class="row">
    <div class='col-md-9'>
      <a href="{% url 'team-join' team.id %}" class="btn btn-md btn-primary">Join {{team.name}}</a>
      <br>
      <br>
    </div>
  </div>
</div>
<div class="container width=95%">
  <div class="row">
    <div class="team-panel col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">{{member_count}} members in team {{team.name}}</div>
        <div class="panel-body">
          <ul>
            {% for m in team_members %}
              <li>
                <a href="{% url 'user-profile' m.id %}">{{m}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
